<div class="container">
  <main>
    <div class="py-5 text-center">
      <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
      <% elsif flash[:danger] %>
        <div class="alert alert-danger"><%= flash[:danger] %></div>
      <% end %>
      <h2>購入画面</h2>
      <% session[:cart_id] %>
    </div>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">買い物かご</span>
          <span class="badge bg-primary rounded-pill"><%= current_cart.total_quantity %></span>
        </h4>
        <ul class="list-group mb-3">
          <% current_cart.cart_items.each do |cart_item| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0"><%= cart_item.item.name %></h6>
                <small class="text-muted"><%= cart_item.quantity %>点</small>
              </div>
              <div>
                <% if cart_item.item.sale %>
                  <span class="text-muted my-0"><%= cart_item.sale_total_amount %>円</span>
                <% else %>
                  <span class="text-muted"><%= cart_item.total_amount %>円</span>
                <% end %>
                <%= link_to cart_item_path(cart_item.id), data: { turbo_method: :delete } do %>
                  <button type="button" class="btn btn-outline-secondary btn-sm">削除</button>
                <% end %>
              </div>
            </li>
          <% end %>
          <% if current_cart.promotion %>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">−<%= current_cart.promotion.discount %>円</span>
            </li>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <span>合計金額</span>
            <strong><%= current_cart.sale_amount %>円</strong>
          </li>
        </ul>
        <%= form_with url: promotions_use_path, class: "card p-2" do |f| %>
          <div class="input-group">
            <%= f.text_field :promo_code, class: "form-control", placeholder: "プロモーションコード" %>
            <%= f.submit '適用', class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
      <% if current_cart.cart_items.empty? %>
        <div class="col-md-7 col-lg-8 d-flex align-items-center justify-content-center">
          <p>買い物かごに商品がありません。</p>
        </div>
      <% else %>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">請求先住所</h4>
          <% if @order %>
            <div class="alert alert-danger">
              <ul>
                <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_with scope: :session, model: @order, url: orders_path, class: "needs-validation" do |f| %>
            <div class="row g-3">
              <div class="col-sm-6">
                <%= f.label :first_name, '性', class: "form-label" %>
                <%= f.text_field :first_name, class: "form-control", placeholder: "田中" %>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-sm-6">
                <%= f.label :last_name, '名', class: "form-label" %>
                <%= f.text_field :last_name, class: "form-control", placeholder: "太郎" %>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              <div class="col-12">
                <%= f.label :email, 'メールアドレス', class: "form-label" %>
                <%= f.text_field :email, class: "form-control", placeholder: "tanaka@example.com" %>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
              <div class="col-12">
                <%= f.label :address, '住所', class: "form-label" %>
                <%= f.text_field :address, class: "form-control", placeholder: "東京都港区六本木○-○-○" %>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
              <div class="col-12">
                <%= f.label :address2, '建物名', class: "form-label" %>
                <%= f.text_field :address2, class: "form-control", placeholder: "マンション名101" %>
              </div>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">お支払い</h4>
            <div class="row gy-3">
              <div class="col-md-6">
                <%= f.label :card_name, 'カードの名前', class: "form-label" %>
                <%= f.text_field :card_name, class: "form-control", placeholder: "TAROTANAKA" %>
                <small class="text-muted">カードに記載されているフルネーム</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6">
                <%= f.label :card_number, 'クレジットカード番号', class: "form-label" %>
                <%= f.text_field :card_number, class: "form-control", maxlength: "16" %>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :card_expiration, '有効期限', class: "form-label" %>
                <%= f.text_field :card_expiration, class: "form-control", maxlength: "4", placeholder: "2301" %>
                <small class="text-muted">2023年1月</small>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :card_cvv, 'cvv', class: "form-label" %>
                <%= f.text_field :card_cvv, class: "form-control", maxlength: "4", placeholder: "000" %>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="my-4">
            <%= f.submit '購入する', class: "w-100 btn btn-primary btn-lg" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
