<div>
    <%= form_with model: @item,  multipart: true , local: true do |f| %>
    <div class="form-group">
        <%= f.label :image_name %>
        <%= f.file_field :image_name, class: 'form-control mb-3', accept: 'image/*' %>
        <%= f.hidden_field :image_cache %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>