<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag(@item.image_name, class: "card-img-top mb-5 mb-md-0") %></div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <h1 class="display-5 fw-bolder"><%= @item.name %></h1>
        <div class="fs-5 mb-5">
          <% if @item.sale %>
          <span class="text-decoration-line-through"><%= @item.price %>円</span>
          <%= @item.sale_price %>円
          <% else %>
          <%= @item.price %>円
          <% end %>
        </div>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem
          modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus
          ipsam minima ea iste laborum vero?</p>
        <div class="d-flex">
          <%= form_with url: cart_items_path do |form| %>
          <%= form.hidden_field :item_id, value: @item.id %>
          <%= form.text_field :quantity, class: "form-control text-center me-3", value: 1, style: "max-width: 3rem" %>
          <%= button_tag(type= "submit", class: "btn btn-outline-dark flex-shrink-0") do %>
          <i class="bi-cart-fill me-1"></i>
          Add to cart
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @items_random.each do |item| %>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <% if item.sale %>
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
          </div>
          <% end %>
          <!-- Product image-->
          <%= link_to item_path(item.id) do %>
          <%= image_tag(item.image_name, class:"card-img-top") %>
          <% end %>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <%= link_to item_path(item.id) do %>
              <h5 class="fw-bolder"><%= item.name %></h5>
              <% end %>
              <!-- Product reviews-->
              <% if item.review %>
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <% end %>
              <!-- Product price-->
              <% if item.sale %>
              <span class="text-muted text-decoration-line-through"><%= item.price %></span>
              <%= item.sale_price %>円
              <% else %>
              <%= item.price %>円
              <% end %>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
            <%= form_with url: cart_items_path do |form| %>
            <%= form.hidden_field :item_id, value: item.id %>
            <%= form.hidden_field :quantity, value: 1 %>
            <%= button_tag(type= "submit", class: "btn btn-outline-dark flex-shrink-0") do %>
            <i class="bi-cart-fill me-1"></i>
            Add to cart
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>